<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Logout Page</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

    <div th:replace="base :: nav"></div>

    <div class="container">
        <h1>Logout Page</h1>
        <h2>You have been successfully logged out.</h2>
        <p></p>
        <a href="/login">Log in</a>
        <a href="/">Home</a>
    </div>


    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- JS Links -->
    <div th:replace="base :: jslinks"></div>

</body>
</html>