<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
    <!--<title>User Page</title>-->
    <!--<th:block th:replace="~{base :: header}"></th:block>-->

<!--</head>-->
<!--<body>-->

    <!--&lt;!&ndash; Nav Bar &ndash;&gt;-->
    <!--<div th:replace="base :: nav"></div>-->
    <!---->
    <!--<div class="container-fluid">-->
        <!--<h2 th:text="${myuser.first_name}"></h2>-->
        <!--<p></p>-->

        <!--<a class="btn btn-success" th:href="#">Follow</a>-->

        <!--&lt;!&ndash; Card: username and email on separate line on top, pic on bottom &ndash;&gt;-->
        <!--<div class="card" style="width: 18rem;">-->
            <!--<img src="https://res.cloudinary.com/jihyunle/image/upload/v1553281089/btvif.jpg"-->
                 <!--style="width: auto" height="auto" class="card-img-bottom" alt="...">-->
            <!--<div class="card-body">-->
                <!--<div class="card-text">-->
                    <!--<p th:text="${myuser.username}"></p>-->
                    <!--<p th:text="${myuser.email}"></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



    <!--</div>-->

    <!--&lt;!&ndash; Footer &ndash;&gt;-->
    <!--<div th:replace="base :: footer"></div>-->
    <!--&lt;!&ndash; JS Links &ndash;&gt;-->
    <!--<div th:replace="base :: jslinks"></div>-->

<!--</body>-->
<!--</html>-->